*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    padding: 50px 40px;
    font-family: Plus Jakarta Sans;
    
}
/* topmost part */
.topmost-part{
    background-color: #3C3679;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
/* header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    margin-top: 30px;
}
.leftside-header{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}
.txt-header{
    font-weight: 700;
    font-size: 14px;
}
/* section1 */
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:  73px;
    padding-right: 46px;
    padding-top: 50px;
    position: relative;

}
.line-1{
    font-weight: 700;
    font-size: 54px;
    color: #201C44;
    padding-top: 70px;
    

}
.line-2{
    color: #131126;
    font-size: 16px;
    padding-top: 30px;
    line-height: 28px;
}
  
.line-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
}
.line-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}
.line-4 p{
    font-size: 13px;
    color: #131126;
}
.demo{
    color: #131126;
    font-weight: 700;
    font-size: 16px;
}
.star{
    position: absolute;
    left: 1620px;
    top: 100px;
    
}
/* section2 */
.section2{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    padding-left: 120px;
    padding-right: 158px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #D0D0D0 ;
    margin-top: 50px;
}
.section2-txt{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}
/* section3 */
.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:  73px;
    padding-right: 70px;
    padding-top: 50px;
    color: #201C44;
}
.section3-rightside{
    padding-top: 40px;
}
.lines-1{
    color: #201C44;
    font-weight: 700;
    font-size: 38px;
    
}
.lines-2{
    padding-top: 30px;
    line-height: 28px;
}
.lines-2 p{
    padding-top: 40px;
}

.lines-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.lines-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}
.lines-5{
    padding-top: 30px;
}
/* section 4 */
.section4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3C3679;
    padding: 50px 150px;
    color: white;
}
.section4-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    
}
/* section5 */
.section5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    padding-left:50px ;
    padding-right: 50px;
}

.liness-1{
    color: #201C44;
    font-weight: 700;
    font-size: 38px;
    
}
.liness-2{
    padding-top: 30px;
    line-height: 28px;
}
.liness-2 p{
    padding-top: 40px;
    font-weight: 700;
}
.liness-3{
    padding-top: 30px;
}
.liness-4{
    padding-top: 30px;
}
.liness-5{
    padding-top: 30px;
}
/* text section */
.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.line1{
    color: #201C44;
    font-weight: 700;
    font-size: 38px;
}
.line2{
    color: #131126;
    padding-top: 10px;
}
/* section6 */
.section6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    gap: 15px;
}
/* section7 */
.section7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 50px;
}
.section7-leftside{
    padding-top: 80px;
}
.lin1{
    color: #201C44;
    font-weight: 700;
    font-size: 38px;
    
}
.lin2{
    color: #131126;
    padding-top: 50px;
}

.lin3{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 25px;
}
.lin4{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-top: 30px;
}
.lin4 p{
    font-weight: 700;
    color: #201C44;
}
.txt1{
    font-weight: 700;
    color: #131126;
    font-size: 24px;
}
.txt2{
    font-weight: 700;
    color: #131126;
    font-size: 16px;
}
.one1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* section9 */
.section9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;

}
.one-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: #3C3679;
    padding: 25px 30px;
    text-align: center;
    align-items: center;
}
.two-line{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-top: 20px;
    color: #131126;
    font-size: 16px;
    padding-left: 200px;
}
.p2{
    padding-top: 40px;
}

.three-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
    text-align: center;
    align-items: center;
    border: 1px solid #131126;
}
.clear{
    padding-top: 50px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
}
.navside{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.line-straight{
    padding-left: 50px;
    padding-top: 60px;
}
.rite-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
.icon-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
/* media queries */
@media screen and (max-width: 600px) {

    body{
        width: 100%;
    }
    .section1{
        flex-direction: column;
        width: 100%;
        justify-content: none;
        padding: 0px;
    }
    .txt-header{display: none;}
    .header{padding: 0px;}
    .line-1{
        padding-top: 40px;
    }
    .line-3{
        padding-top: 40px;
    }
    .line-4{
        padding-top: 30px;
    }
    .section2{display: flex;
        flex-direction: row;
        gap: 50px;
        overflow-x: scroll;
        padding-left: 0px;
        padding-right: 158px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid #D0D0D0 ;
        margin-top: 50px;}
}